<div class="m-3 col-sm-12">
    <div clas="container-fluid p-3 ">
      <header class="jumbotron">
        <div class="row justify-content-center align-content-center">
          <h3>Dados do Evento</h3>
          
        </div>
      </header>
    </div>
    <div class="container-fluid p-3 ">
      <header class="jumbotron">
        <div class="row justify-content-center align-content-center">
          <h2>Dados do Espectador</h2>
        </div>
      </header>
    </div>
    <div class="container-fluid p-3 ">
        <header class="jumbotron">
          <div class="row justify-content-center align-content-center">
            <h2>Preferências</h2>
            Checkbox
          </div>
        </header>
    </div>
    <div class="container-fluid ">
      
        <div class="row justify-content-center align-content-center" (click)="vincularEvento()">
          <button class="btn btn-secondary m-3 btn-lg col-sm-4 center-align">Vincular</button>
        </div>
    
    </div>
  </div>
