<h1 class="mt-4">Novo Evento</h1>
<ol class="breadcrumb mb-4">
    <li class="breadcrumb-item active">{{ evento.id ? 'Edição de evento' : 'Cadastro de novo evento' }}</li>
</ol>
<div class="container">
    <form #eventoForm="ngForm" (ngSubmit)="onSubmit()" >

        <div class="row">
            <div class="col-md-12">
                <div class="alert alert-success" role="alert" *ngIf="success == true">
                    Evento salvo/atualizado com sucesso!    
                </div>
                <div class="alert alert-danger" role="alert" *ngFor="let erro of errors">
                    {{ erro  }}    
                </div>
            </div>
        </div>

        <div class="row" *ngIf="evento.id">
            <div class="col-md-6">
                <div class="form-group">
                    <label>ID:</label>
                    <input type="text" [ngModel]="evento.id" name="id" class="form-control" disabled="true" />
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label>Nome do Evento: *</label>
                    <input type="text" class="form-control" 
                           [(ngModel)]="evento.nomeEvento" name="nomeEvento"   />
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label>Nome do local do Evento: *</label>
                    <input type="text" class="form-control" 
                            [(ngModel)]="evento.nomeLocalEvento" name="nomeLocalEvento"  />
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label>Data do Evento: *</label>
                    <input type="text" class="form-control" 
                            [(ngModel)]="evento.dataEvento" name="dataEvento"  />
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label>Hora do Evento: *</label>
                    <input type="text" class="form-control" 
                            [(ngModel)]="evento.horarioEvento" name="horarioEvento"  />
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label>Quantidade Espectadores Esperada: *</label>
                    <input type="text" class="form-control" 
                            [(ngModel)]="evento.quantidadeEspectadoresEsperada" name="quantidadeEspectadoresEsperada"  />
                </div>
            </div>
        </div>
        <div>
            <h3>Endereço</h3>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label>Rua: </label>
                    <input type="text" class="form-control" 
                           [(ngModel)]="evento.endereco.nomeRua" name="nomeRua"   />
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label>Numero: </label>
                    <input type="text" class="form-control" 
                            [(ngModel)]="evento.endereco.numero" name="numero"  />
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label>Complemento: </label>
                    <input type="text" class="form-control" 
                            [(ngModel)]="evento.endereco.complemento" name="complemento"  />
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label>Bairro: </label>
                    <input type="text" class="form-control" 
                            [(ngModel)]="evento.endereco.bairro" name="bairro"  />
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label>Cidade: </label>
                    <input type="text" class="form-control" 
                            [(ngModel)]="evento.endereco.cidade" name="cidade"  />
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label>Estado: </label>
                    <input type="text" class="form-control" 
                            [(ngModel)]="evento.endereco.estado" name="estado"  />
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-3 p-3">
                <button type="submit" class="btn btn-primary ml-1" *ngIf="evento.id">
                    Atualizar
                </button>
                <button type="submit" class="btn btn-success ml-1" >
                    Salvar
                </button>
                <button tye="button" class="btn btn-danger ml-1" (click)="voltarHome()">
                    Voltar
                </button>
            </div>
     
        </div>
    </form>
</div>
