<h1 class="mt-4">Dados Produtor</h1>
<ol class="breadcrumb mb-4">
    <li class="breadcrumb-item active">{{ produtor.id ? 'Edição de produtor' : 'Cadastro de novo produtor' }}</li>
</ol>
<div class="container">
    <form #produtorForm="ngForm" (ngSubmit)="onSubmit()" >

        <div class="row">
            <div class="col-md-12">
                <div class="alert alert-success" role="alert" *ngIf="success == true">
                    Produtor salvo/atualizado com sucesso!    
                </div>
                <div class="alert alert-danger" role="alert" *ngFor="let erro of errors">
                    {{ erro  }}    
                </div>
            </div>
        </div>

        <div class="row" *ngIf="produtor.id">
            <div class="col-md-6">
                <div class="form-group">
                    <label>ID:</label>
                    <input type="text" [ngModel]="produtor.id" name="id" class="form-control" disabled="true" />
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label>Nome: *</label>
                    <input type="text" class="form-control" 
                           [(ngModel)]="produtor.nome" name="nome"   />
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label>Data Nascimento: *</label>
                    <input type="text" class="form-control" 
                            [(ngModel)]="produtor.dataNascimento" name="dataNascimento"  />
                </div>
            </div>
        </div>
        <div>
            <h3>Endereço</h3>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label>Rua: </label>
                    <input type="text" class="form-control" 
                           [(ngModel)]="produtor.endereco.nomeRua" name="nomeRua"   />
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label>Numero: </label>
                    <input type="text" class="form-control" 
                            [(ngModel)]="produtor.endereco.numero" name="numero"  />
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label>Complemento: </label>
                    <input type="text" class="form-control" 
                            [(ngModel)]="produtor.endereco.complemento" name="complemento"  />
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label>Bairro: </label>
                    <input type="text" class="form-control" 
                            [(ngModel)]="produtor.endereco.bairro" name="bairro"  />
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label>Cidade: </label>
                    <input type="text" class="form-control" 
                            [(ngModel)]="produtor.endereco.cidade" name="cidade"  />
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label>Estado: </label>
                    <input type="text" class="form-control" 
                            [(ngModel)]="produtor.endereco.estado" name="estado"  />
                </div>
            </div>
        </div>

        <div class="row m-3">
            <div class="col-md-6">
                <button type="submit" class="btn btn-success btn-lg" *ngIf="!produtor.id">
                    <i class="fa fa-save" ></i> Salvar
                </button>

                <button type="submit" class="btn btn-primary btn-lg" *ngIf="produtor.id">
                    <i class="fa fa-sync-alt" ></i> Atualizar
                </button>
                                                                <!--onSubmit não eh daqui-->
                <button tye="button" class="btn btn-danger btn-lg ml-1" (click)="voltarHome()">
                    <i class="fa fa-arrow-alt-circle-left" ></i> Voltar
                </button>
            </div>
     
        </div>
    </form>
</div>
