<div class="m-3 col-sm-12">
  <div clas="container-fluid p-3 my-3 ">
    <header class="jumbotron">
      <div class="row justify-content-center align-content-center" (click)="irListaEvento()">
        <button class="btn btn-secondary m-3 btn-lg col-sm-6 center-align">Vincular Evento</button>
      </div>
    </header>
  </div>
  <div clas="container-fluid p-3 my-3 ">
    <header class="jumbotron">
      <div class="row justify-content-center align-content-center">
        <button class="btn btn-secondary m-3 btn-lg col-sm-6 center-align">Encontrar Evento</button>
      </div>
    </header>
  </div>
  <div clas="container-fluid p-3 my-3 ">
    <header class="jumbotron">
      <div class="row justify-content-center align-content-center">
        <button class="btn btn-secondary m-3 btn-lg col-sm-6 center-align">Calendário de Eventos</button>
      </div>
    </header>
  </div>
</div>